In [2]:
import pandas as pd

In [4]:
df=pd.read_csv('/content/Students_Performance.csv')

In [5]:
gender_count=df['gender'].value_counts()

In [6]:
print(gender_count)

female    518
male      482
Name: gender, dtype: int64

In [7]:
pare_ed_status=df['parental level of education'].describe()

In [8]:
print(pare_ed_status)

count             1000
unique               6
top       some college
freq               226
Name: parental level of education, dtype: object

In [9]:
df.groupby('parental level of education')

In [12]:
mean_score_gender=df.groupby('gender').mean()[['math score','reading score','writing score']]

<ipython-input-12-ce1074eaa795>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mean_score_gender=df.groupby('gender').mean()[['math score','reading score','writing score']]

In [13]:
print(mean_score_gender)

        math score  reading score  writing score
gender
female   63.376448      72.590734      72.467181
male     68.821577      65.545643      63.446058

In [11]:
mean_score_course=df.groupby('test preparation course').mean()[['math score','reading score','writing score']]

<ipython-input-11-263dbf61a1ca>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mean_score_course=df.groupby('test preparation course').mean()[['math score','reading score','writing score']]

In [14]:
print(mean_score_course)

                         math score  reading score  writing score
test preparation course
completed                  69.96648      74.175978      74.684358
none                       63.78972      66.417445      64.457944

In [15]:
std_gender=df.groupby('gender').std()[['math score','reading score','writing score']]

<ipython-input-15-b1c1c3c81a81>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  std_gender=df.groupby('gender').std()[['math score','reading score','writing score']]

In [16]:
std_course=df.groupby('test preparation course').std()[['math score','reading score','writing score']]

<ipython-input-16-2549e1ebc662>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.std is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  std_course=df.groupby('test preparation course').std()[['math score','reading score','writing score']]

In [17]:
print(std_gender)

        math score  reading score  writing score
gender
female   16.029928      14.411018      14.844842
male     14.556411      14.149594      14.227225

In [18]:
print(std_course)

                         math score  reading score  writing score
test preparation course
completed                 14.521847      13.537572      13.236412
none                      15.705689      14.608896      15.041667

In [19]:
thresh_score=df['math score'].quantile(0.75)

In [21]:
students=df[df['math score']>thresh_score]

In [22]:
print(students)

     gender race/ethnicity parental level of education         lunch  \
430  female        group A                some college      standard
431  female        group B           bachelor's degree  free/reduced
432  female        group D           bachelor's degree      standard
433  female        group D                 high school      standard
434  female        group D           bachelor's degree  free/reduced
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score
430               completed          78             87             91
431                    none          78             79             76
432                    none          78             82             79
433                    none          78             81             80
434                    none          78             90             93
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

[231 rows x 8 columns]

In [23]:
bonus=5
students['bonus_points']=bonus

<ipython-input-23-d4fe1b88d39e>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  students['bonus_points']=bonus

In [24]:
print(students)

     gender race/ethnicity parental level of education         lunch  \
430  female        group A                some college      standard
431  female        group B           bachelor's degree  free/reduced
432  female        group D           bachelor's degree      standard
433  female        group D                 high school      standard
434  female        group D           bachelor's degree  free/reduced
..      ...            ...                         ...           ...
995    male        group E                some college      standard
996    male        group A                some college      standard
997    male        group D                some college      standard
998    male        group E          associate's degree  free/reduced
999    male        group E           bachelor's degree      standard

    test preparation course  math score  reading score  writing score  \
430               completed          78             87             91
431                    none          78             79             76
432                    none          78             82             79
433                    none          78             81             80
434                    none          78             90             93
..                      ...         ...            ...            ...
995               completed          99             87             81
996               completed         100             96             86
997               completed         100             97             99
998               completed         100            100             93
999               completed         100            100            100

     bonus_points
430             5
431             5
432             5
433             5
434             5
..            ...
995             5
996             5
997             5
998             5
999             5

[231 rows x 9 columns]